/* stylelint-disable color-function-notation */
/* stylelint-disable color-function-alias-notation */
/* stylelint-disable media-feature-range-notation */
/* stylelint-disable keyframes-name-pattern */
.da-push-icon,
.da-open-icon {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  outline: none;
}

.da-push-icon:focus-visible {
  outline: none;
}

.da-push-icon.not-sending {
    background: url("https://main--stream-mapper--adobecom.aem.live/assets/push-to-da.svg") center center / 22px no-repeat;
}

.da-open-icon {
    background: url("https://main--stream-mapper--adobecom.aem.live/assets/open-in-da.svg") center center / 19px no-repeat;
}

img.da-process-wait {
  cursor: progress;
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%   { opacity: 0.5; }
  50%  { opacity: 0.4; }
  100% { opacity: 0.5; }
}

.enigma-error-page {
  font-family: 'Adobe Clean', 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: #f6f3b5;
}

.enigma-error-page img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
}

.enigma-error-page h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader-content {
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .marquee.split .asset.bleed {
    z-index: 2 !important;
  }
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 24px;
    font-size: 20px;
    color: #7155fa;
  }

  .loader-container .loader-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
  }

  .loader {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-bottom-color: #8e8d8d;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {  transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .button-container {
    display: flex;
    gap: 10px;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 20px;
    margin: 20px auto;
  }

  .cta-button {
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 20%);
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cta-button:hover {
    color: #fff !important;
    box-shadow: 0 6px 10px rgba(0, 123, 255, 30%);
    transform: scale(1.05);
  }

  .cta-button.disabled {
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    color: #fff;
    cursor: not-allowed;
    pointer-events: none;
  }

  .cta-button.disabled:hover {
    color: #fff !important;
    box-shadow: none;
    transform: none;
  }

  .dot-loader {
    display: flex;
    gap: 5px;
    padding-bottom: 6px;
  }

  .dot {
    width: 6px;
    height: 6px;
    background-color: #7155fa;
    border-radius: 50%;
    opacity: 0;
    animation: blink 1.5s infinite;
  }

  .dot:nth-child(1) {
    animation-delay: 0s;
  }

  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  